/*

=====================
BODY, HTML
=====================

*/
body {
  font-weight: 400;
}
html,
body,
#all {
  height: 100%;
  min-height: 100%;
}
/*

=====================
NAVBAR
=====================

*/
.navbar {
  border: none;
}
.navbar ul.nav > li > a {
  text-transform: uppercase;
  border-top: solid 5px transparent;
}
.navbar ul.nav > li > a:hover {
  border-top: solid 5px #4fbfa8;
}
@media (max-width: 767px) {
  .navbar ul.nav > li > a:hover {
    border-top: solid 5px transparent;
  }
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 5px #4fbfa8;
  font-weight: bold;
}
@media (max-width: 767px) {
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top: solid 5px transparent;
  }
}
/*

=====================
UNIVERSAL SECTION STYLES
=====================

*/
.section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.section:before,
.section:after {
  content: " ";
  display: table;
}
.section:after {
  clear: both;
}
.section:before,
.section:after {
  content: " ";
  display: table;
}
.section:after {
  clear: both;
}
.section h2.title {
  display: inline-block;
  font-size: 50px;
  font-weight: 100;
  padding: 10px 0;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
}
.section h2.title span {
  font-size: 40px;
}
@media (max-width: 767px) {
  .section h2.title {
    font-size: 40px;
  }
}
.section .img-responsive {
  margin: 0 auto;
}
.section .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.section .inline-title {
  display: inline-block;
  padding: 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  text-transform: uppercase;
}
.text-narrow p {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 44px;
}
@media (max-width: 767px) {
  .text-narrow p {
    font-size: 16px;
  }
}
.text-gradient {
  background: #13836c;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #13836c 0%, #45b59e 100%);
  background-image: linear-gradient(to bottom, #13836c 0%, #45b59e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff13836c', endColorstr='#ff45b59e', GradientType=0);
}
.text-gradient h2 {
  border-color: #fff;
}
.text-gray {
  background: #f7f7f7;
}
@media (max-width: 991px) {
  .text-gray {
    background: #eeeeee;
  }
}
.text-parallax {
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-backface-visibility: hidden;
}
.text-parallax.parallax-image1 {
  background: url('../img/parallax.jpg') center center no-repeat fixed;
}
@media (max-width: 991px) {
  .text-parallax {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
/*
=====================
INTRO
=====================

*/
#intro {
  position: relative;
  height: 100%;
}
#intro .item {
  height: 100%;
  background: url('../img/home.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}
#intro .item .logo {
  margin-bottom: 120px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
}
@media (max-width: 767px) {
  #intro .item .logo {
    margin-bottom: 50px;
  }
}
#intro .item h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 700;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
}
@media (max-width: 991px) {
  #intro .item h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  #intro .item h1 {
    font-size: 35px;
  }
}
#intro .item h2 {
  color: #fff;
  margin-bottom: 120px;
  font-weight: 400;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
}
@media (max-width: 767px) {
  #intro .item h2 {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 0 30px;
  }
}
@media (max-width: 1199px) {
  #intro .item h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }
}
#intro .item .carousel-caption {
  left: 0;
  right: 0;
}
#intro .container,
#intro .row {
  height: 100%;
  position: relative;
}
/*

=====================
SERVICES
=====================

*/
.services .icon {
  font-size: 60px;
  text-align: center;
  text-shadow: 5px 5px 0 #2d7b6b;
}
.services .heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.services p {
  font-size: 15px;
  text-align: left;
}
/*

=====================
WORKS / REFERENCES
=====================

*/
#filter {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}
#filter li {
  display: inline-block;
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
  border-top: solid 1px #4fbfa8;
  border-bottom: solid 1px #4fbfa8;
  margin: 0 10px 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#filter li a {
  display: inline-block;
  padding: 10px;
}
#filter li.active,
#filter li:hover {
  background: #4fbfa8;
}
#filter li.active a,
#filter li:hover a {
  color: #fff;
  text-decoration: none;
}
#references-masonry {
  margin: 0 15px;
  visibility: hidden;
}
@media (max-width: 991px) {
  #references-masonry {
    margin: 0 auto;
  }
}
.reference-item {
  width: 255px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .reference-item {
    width: 205px;
  }
}
@media (max-width: 991px) {
  .reference-item {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .reference-item {
    width: 260px;
  }
}
.reference-item .reference {
  margin-bottom: 30px;
  background: #4fbfa8;
}
.reference-item .reference a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.reference-item .reference a .overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-box-sizing: 'border-box';
  -moz-box-sizing: 'border-box';
  box-sizing: 'border-box';
  padding: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reference-item .reference a .overlay h3 {
  text-transform: uppercase;
  font-weight: 500;
}
.reference-item .reference a img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reference-item .reference a:hover .overlay,
.reference-item .reference a:focus .overlay {
  display: block;
  top: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.reference-item .reference a:hover img,
.reference-item .reference a:focus img {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
#detail {
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto 0;
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: left;
}
#detail .close {
  position: relative;
  font-size: 50px;
  z-index: 100;
}
#detail .buttons {
  text-align: center;
  margin-top: 40px;
}
#detail .buttons a {
  margin: 0 10px 10px;
}
#detail h1 {
  display: inline-block;
  font-size: 40px;
  font-weight: 100;
  padding: 10px 0;
  margin: 22px 0;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
}
@media (max-width: 767px) {
  #detail h1 {
    font-size: 30px;
  }
}
/*

=====================
CUSTOMERS
=====================

*/
.customer {
  text-align: center;
}
.customer img {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*

=====================
SHOWCASE
=====================

*/
.showcase {
  position: relative;
  z-index: 2;
}
.showcase .item {
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.showcase .item .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  border-radius: 25px;
  border: solid 1px #fff;
}
.showcase .item h4 {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.showcase .item h4 span {
  font-weight: 100;
  font-size: 41px;
}
/*


=====================
CONTACT
=====================

*/
.contact {
  background: #fff;
}
.contact form {
  margin-top: 40px;
}
.contact form input,
.contact form textarea {
  margin-top: 20px;
}
/*

=====================
MAP
=====================

*/
#map {
  height: 400px;
}
/*

=====================
FOOTER
=====================

*/
#footer {
  background: #222222;
  font-size: 14px;
  line-height: 50px;
}
#footer p.social {
  text-align: left;
}
#footer p.social a {
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#footer p.social a.facebook {
  background-color: #4460ae;
}
#footer p.social a.gplus {
  background-color: #c21f25;
}
#footer p.social a.instagram {
  background-color: #cd4378;
}
#footer p.social a.email {
  background-color: #4a7f45;
}
@media (max-width: 767px) {
  #footer p.social {
    text-align: center;
    margin-bottom: 20px;
  }
}
#footer p {
  margin: 0;
  text-align: right;
  color: #eeeeee;
  font-family: 'Roboto Slab', serif;
}
@media (max-width: 767px) {
  #footer p {
    text-align: center;
  }
}
#footer p.template-bootstrapious {
  margin-top: 20px;
  text-align: center;
  color: #999999;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer p.template-bootstrapious a {
  color: #999999;
}
@media (max-width: 767px) {
  #footer p.template-bootstrapious {
    text-align: center;
  }
}


.navbar {
  font-family: 'Roboto Slab', serif;
  min-height: 80px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-brand {
  float: left;
  padding: 29px 15px;
  color: #4fbfa8;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 22px;
  height: 80px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  padding: 9px 10px !important;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 15px;
  border-radius: 0;
}
.navbar-nav {
  margin: 14.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 22px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 29px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border: none;
  margin-top: 22px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
.navbar-btn {
  margin-top: 22px;
  margin-bottom: 22px;
}
.navbar-btn.btn-sm {
  margin-top: 23.5px;
  margin-bottom: 23.5px;
}
.navbar-btn.btn-xs {
  margin-top: 29px;
  margin-bottom: 29px;
}
.navbar-text {
  margin-top: 29px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #ffffff;
  border-bottom-color: #e6e6e6;
}
.navbar-default .navbar-brand {
  color: #4fbfa8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3aa18c;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #4fbfa8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #4fbfa8;
}
.navbar-default .navbar-collapse {
  border-color: #e6e6e6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
@media (min-width: 768px) {
  .navbar-default .navbar-left {
    float: left !important;
  }
  .navbar-default .navbar-right {
    float: right !important;
  }
}